@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Signika&display=swap');
/* Reset style*/
*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Signika', sans-serif;
}
body {
    background-image: url('../assets/img/bg.jpg')
}
.title {
    font-family: 'Luckiest Guy', cursive;
}
.main{
    background-color: #ffffff;
    padding: 20px 50px 30px;
    width: 80%;
    margin: 30px auto;

}